.title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */

    color: #000000;
}
.wrap {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
}
.bd {
   margin-top: 85px;
    height: 100vh;

    /* padding: 0 4rem 0 4rem; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 120px;
}
.image-about {
    width: 278.39px;
    height: 278.39px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: solid #6bd24d 5px;
    object-fit: cover;
}
.meet {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    /* or 134% */

    color: #424a4f;
}

.bottom {
    background: #eaf8f9;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;

    color: #424a4f;
    border-bottom-left-radius: 25px;
    min-height: 50%;
    border-bottom-right-radius: 25px;
}
.name {
    font-weight: 600;

    font-style: normal;

    font-size: 25px;
    line-height: 26px;
}
.exp {
    font-size: 20px;
}
.containar {
    width: 278.39px;
    min-height: 328.39px !important;
 transform: translateY(-4.5rem);
}
.allCards {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
}

.link {
    background-color: #6bd24d;
    color: #000000;
    font-size: 15px;
    border-radius: 15px;
    margin: 10px 0;
    padding: 4px 20px;
}

.projects-con {
    display: flex;
    gap: 10px;
    padding: 2px 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.span {
    font-size: 17px;
    font-weight: 600;
}

.projects {
    font-size: 15px;

    text-decoration: underline;
}
