.body{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.h1{
}
.p{
    line-height: 2;
}
.btn{
    background-color: #2DD3E3;
    padding: 14px 7px;
    width: 10rem;
    size: 1.2rem;
    font-weight: bold;
 cursor: pointer;
    border: none;
    border-radius: 5px;
}
