.writing {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 3rem 15rem;
}
.image {
    width: 1112px;
    border-radius: 35px;
    height: 500px;
    object-fit: cover;
    margin-top: 100px;
}
.h1 {
    font-size: 3rem;
}
.p {
    line-height: 1.8;
    font-size: 1.2rem;
}
.h3 {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.904);
}
.signup {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.h2 {
    font-weight: bolder;
    font-size: 2rem;
}
.inp {
    padding: 1rem 3.4rem 1rem 1rem;
    border-top: 2px #878787 solid;
    border-left: 2px #878787 solid;
    border-bottom: 2px #878787 solid;
}
.send {
    height: 3.2rem;
}
.inpImg {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.h4 {
    font-size: 2rem;
}
.imgs {
    display: flex;
    gap: 1rem;
}

.edit-btn {
    padding: 10px 20px;
    height: 46px;
    border: none;
    border-radius: 18px;
    width: 200px;
    font-size: 16px;
    cursor: pointer;

    background-color: #2dd4e3ad;
    transition: all 0.3s;
}

.edit-btn:hover {
    background-color: #2dd3e3;
}

.delete-btn {
    padding: 10px 20px;
    height: 46px;
    border: none;
    border-radius: 18px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;

    background-color: #ff2929ad;
    transition: all 0.3s;
}
.delete-btn:hover {
    background-color: #ee2121;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}

.blog-img__con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: fit-content;
}

.profile-img__con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.span-by {
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 640px) {
}
