.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    margin-top: 85px;

}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 100px;
}

h3 {
    font-size: 35px;
    color: black;
    margin: 0;
}

h1 {
    font-size: 120px;
    color: black;
    margin: 0;
}

button {
    padding: 10px 70px;
    font-size: 25px;
    background-color: #2dd3e3;
    margin-top: 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    background-color: #00dbef;
}

img {
    object-fit: contain;
    padding-right: 100px;
}

.home-section__text {
    background-color: #fee89e;
    min-height: 40vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

p {
    font-size: 20px;
    color: #000000;
}

h2 {
    font-size: 50px;
    color: #000000;
}

.home-section__blog {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px;
    min-height: 60px;
    justify-content: flex-start;
    align-items: flex-start;
}

.blog-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    padding: 0;
}
.img-blog {
    width: 400px;
    height: 330px;
    object-fit: fill;
    border-radius: 10px 10px;
    padding: 0;
}

/* for mobile */
@media (max-width: 640px) {
.im {
    width: 360px;
    height: 270px;
    object-fit: fill;
    border-radius: 10px 10px;
    margin-left: 1rem;
}
.recent{
    font-size: 2rem;
}

.h2{
    font-size: 1rem;
}
.p{
    font-size: .5rem;

}
.home-section__text {
    background-color: #fee89e;
    min-height: 40vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    font-size: .5rem;
    padding-left: 65px;
}

h3 {
    font-size: 35px;
    color: black;
    margin: 0;
}

h1 {
    font-size: 70px;
    color: black;
}

button {
    padding: 7px 50px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
   }


   
.home-section__blog {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 70px;
    min-height: 60px;
    justify-content: flex-start;
    align-items: flex-start;
}

.blog-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    padding-left: 10px;
}
.img-blog {
    width: 400px;
    height: 330px;
    object-fit: fill;
    border-radius: 10px 10px;
    padding: 0;
}

.ask{
    font-size: 1.3rem;
}
.container{
    overflow-x: hidden;
}

}